*.iso
*.ova
*.vdi
Nas/sxe/odoo_16.0.latest.exe
Nas/sxe/odoo_16.0.latest_all.deb
Nas/pmdm/android-studio-2020.3.1.24-windows.exe
Nas/ad/UD4/mysql-connector-java-5.1.49.zip
Nas/ad/UD4/jdk-8u351-windows-x64.exe
Nas/ad/UD4/eclipse-jee-2020-12-R-win32-x86_64.zip
Sistemas de Xestion de Empresa/Carpetas Compartidas MV´s/CCWIN10PRO_Monoposto/odoo_16.0.latest.exe
/Desarrollo de Interfaces/Ejercicios/Proyectos/TaskManagerMVC_v2/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/TaskManagerMVC_v1/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/Calculadora/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/TaskManagerMVC_v2/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/TaskManagerMVC_v1/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/TaskManagerMVC_v3/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/CalculadoraMVC_v1/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/CalculadoraMVC_v1/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/test/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/test/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/datosYOperdaores/nbproject/private/
/Programacion DAM 1/datosYOperadores/nbproject/private/
/Programacion DAM 1/datosYOperadores/build/
/Programacion DAM 1/datosYOperadores/dist/
