*.iso
*.ova
*.vdi
Nas/sxe/odoo_16.0.latest.exe
Nas/sxe/odoo_16.0.latest_all.deb
Nas/pmdm/android-studio-2020.3.1.24-windows.exe
Nas/ad/UD4/mysql-connector-java-5.1.49.zip
Nas/ad/UD4/jdk-8u351-windows-x64.exe
Nas/ad/UD4/eclipse-jee-2020-12-R-win32-x86_64.zip
Sistemas de Xestion de Empresa/Carpetas Compartidas MV´s/CCWIN10PRO_Monoposto/odoo_16.0.latest.exe
/Desarrollo de Interfaces/Ejercicios/Proyectos/TaskManagerMVC_v2/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/TaskManagerMVC_v1/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/Calculadora/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/TaskManagerMVC_v2/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/TaskManagerMVC_v1/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/TaskManagerMVC_v3/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/CalculadoraMVC_v1/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/CalculadoraMVC_v1/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/test/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/test/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/datosYOperdaores/nbproject/private/
/Programacion DAM 1/datosYOperadores/nbproject/private/
/Programacion DAM 1/datosYOperadores/build/
/Programacion DAM 1/datosYOperadores/dist/
/Programacion DAM 1/PruebaCalculadora/nbproject/private/
/Programacion DAM 1/PruebaCalculadora/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/PruebaCalculadora/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/PruebaCalculadora/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/Demo/JavaSwingComponents/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/Demo/JavaSwingComponents/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/JavaSwingComponents/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/JavaSwingComponents/dist/
/Desarrollo de Interfaces/Ejercicios/Proyectos/JavaSwingComponents/nbproject/private/
/Programacion DAM 1/UD1_Lubian_Gañete_JulioMiguel_Tarea_4/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/UD2/HierarchyDemoMVC/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/UD2/HierarchyDemoMVC/dist/
/Desarrollo de Interfaces/Ejercicios/Proyectos/UD2/HierarchyDemoMVC/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/UD1/AppTemplateMVC/dist/
/Desarrollo de Interfaces/Ejercicios/Proyectos/UD1/AppTemplateMVCtarea/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/UD1/AppTemplateMVCtarea/dist/
/Desarrollo de Interfaces/Ejercicios/Proyectos/UD1/AppTemplateMVCtarea/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/UD1/UD1_Lubián_Gañete_JulioMiguel_Proxecto/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/UD1/UD1_Lubián_Gañete_JulioMiguel_Proxecto/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/UD1/UD1_Lubián_Gañete_JulioMiguel_Proxecto/dist/
/Programacion DAM 1/UD2_Lubián_Gañete_JulioMiguel_Proxecto/nbproject/private/
/Desarrollo de Interfaces/Ejercicios/Proyectos/UD3/UD3_Apellido1_Apellido2_Nombre_Proyecto (1)/UD3_Apellido1_Apellido2_Nombre_Proyecto/Clock/Clock/build/
/Desarrollo de Interfaces/Ejercicios/Proyectos/UD3/UD3_Apellido1_Apellido2_Nombre_Proyecto (1)/UD3_Apellido1_Apellido2_Nombre_Proyecto/Clock/Clock/dist/
/Desarrollo de Interfaces/Ejercicios/Proyectos/UD3/UD3_Apellido1_Apellido2_Nombre_Proyecto (1)/UD3_Apellido1_Apellido2_Nombre_Proyecto/Clock/Clock/nbproject/private/
README.zip
/Desarrollo de Interfaces/UD2_Proyecto/build/
/Desarrollo de Interfaces/UD2_Lubián_Gañete_JulioMiguel_Proxecto/build/
/Desarrollo de Interfaces/UD2_Lubián_Gañete_JulioMiguel_Proxecto - copia/build/
/Desarrollo de Interfaces/UD2_Lubián_Gañete_JulioMiguel_Proxecto - copia/nbproject/private/
/Desarrollo de Interfaces/UD3_Lubián_Gañete_JulioMiguel_Proxecto/nbproject/private/
/Desarrollo de Interfaces/Para examen/Nueva carpeta/UD4_Lubián_Gañete_JulioMiguel_PE/build/
/Desarrollo de Interfaces/Para examen/Nueva carpeta/UD4_Lubián_Gañete_JulioMiguel_PE/dist/
/Desarrollo de Interfaces/Para examen/Nueva carpeta/UD4_Lubián_Gañete_JulioMiguel_PE/nbproject/private/
/Desarrollo de Interfaces/UD3_Lubián_Gañete_JulioMiguel_Proxecto/build/
/Desarrollo de Interfaces/UD3_Lubián_Gañete_JulioMiguel_Proxecto/dist/
/Desarrollo de Interfaces/UD3_Lubián_Gañete_JulioMiguel_P1_4/nbproject/private/
/Desarrollo de Interfaces/UD3_Lubián_Gañete_JulioMiguel_P1_4/build/
/Desarrollo de Interfaces/UD3_Lubián_Gañete_JulioMiguel_P1_4/dist/
/Desarrollo de Interfaces/Para examen/Nueva carpeta/UD3_Lubián_Gañete_JulioMiguel_P1_3/nbproject/private/
/Desarrollo de Interfaces/Para examen/Nueva carpeta/UD3_Lubián_Gañete_JulioMiguel_P1_3/build/
/Desarrollo de Interfaces/Para examen/Nueva carpeta/UD3_Lubián_Gañete_JulioMiguel_P1_3/dist/
/Desarrollo de Interfaces/UD2_Lubián_Gañete_JulioMiguel_Proxecto/dist/
Programacion DAM 1/Lubian_Ganete_JulioMiguel_PROG03_Tarea03Lubian_Ganete_JulioMiguel_PROG03_Tarea05.zip
